openapi: 3.0.3
info:
  title: Venturo ERP API
  description: |
    Venturo ERP 旅遊業企業資源規劃系統 API 文檔

    ## 認證
    所有 API 端點（除了 /health）都需要通過 Supabase Auth 進行身份驗證。

    ## 錯誤處理
    API 使用標準 HTTP 狀態碼，錯誤響應格式：
    ```json
    {
      "success": false,
      "error": "錯誤訊息",
      "code": "ERROR_CODE"
    }
    ```
  version: 1.0.0
  contact:
    name: Venturo Support
    email: support@venturo.app

servers:
  - url: https://erp.venturo.app/api
    description: Production
  - url: http://localhost:3000/api
    description: Development

tags:
  - name: Health
    description: 健康檢查端點
  - name: Auth
    description: 認證與帳號管理
  - name: Accounting
    description: 會計傳票與財務
  - name: Tours
    description: 旅遊團管理
  - name: Quotes
    description: 報價單確認
  - name: Itineraries
    description: 行程表管理
  - name: OCR
    description: 光學字元識別
  - name: Storage
    description: 檔案儲存
  - name: LinkPay
    description: 金流支付
  - name: AI
    description: AI 功能
  - name: Travel Invoice
    description: 代轉發票

paths:
  # ==================== Health ====================
  /health:
    get:
      tags: [Health]
      summary: 基本健康檢查
      description: 檢查 API 服務是否正常運行
      responses:
        '200':
          description: 服務正常
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  timestamp:
                    type: string
                    format: date-time

  /health/detailed:
    get:
      tags: [Health]
      summary: 詳細健康檢查
      description: 檢查所有相依服務（資料庫、快取等）
      responses:
        '200':
          description: 所有服務正常
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetailedHealthResponse'
        '503':
          description: 部分服務異常

  # ==================== Auth ====================
  /auth/validate-login:
    post:
      tags: [Auth]
      summary: 驗證登入憑證
      description: 驗證員工登入並返回用戶資訊
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '200':
          description: 登入成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: 認證失敗

  /auth/change-password:
    post:
      tags: [Auth]
      summary: 變更密碼
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [currentPassword, newPassword]
              properties:
                currentPassword:
                  type: string
                newPassword:
                  type: string
                  minLength: 8
      responses:
        '200':
          description: 密碼變更成功
        '400':
          description: 密碼不符合要求
        '401':
          description: 當前密碼錯誤

  /auth/admin-reset-password:
    post:
      tags: [Auth]
      summary: 管理員重設密碼
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userId, newPassword]
              properties:
                userId:
                  type: string
                  format: uuid
                newPassword:
                  type: string
      responses:
        '200':
          description: 密碼重設成功
        '403':
          description: 無管理員權限

  /auth/create-employee-auth:
    post:
      tags: [Auth]
      summary: 創建員工認證帳號
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [employeeId, email, password]
              properties:
                employeeId:
                  type: string
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        '201':
          description: 帳號創建成功
        '409':
          description: 帳號已存在

  /auth/sync-employee:
    post:
      tags: [Auth]
      summary: 同步員工資料
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 同步成功

  # ==================== Accounting ====================
  /accounting/post/customer-receipt:
    post:
      tags: [Accounting]
      summary: 過帳客戶收款傳票
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerReceiptRequest'
      responses:
        '200':
          description: 過帳成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoucherResponse'
        '400':
          description: 請求無效

  /accounting/post/supplier-payment:
    post:
      tags: [Accounting]
      summary: 過帳供應商付款傳票
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SupplierPaymentRequest'
      responses:
        '200':
          description: 過帳成功

  /accounting/post/group-settlement:
    post:
      tags: [Accounting]
      summary: 過帳團結算傳票
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupSettlementRequest'
      responses:
        '200':
          description: 過帳成功

  /accounting/reverse:
    post:
      tags: [Accounting]
      summary: 沖銷傳票
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [voucherId]
              properties:
                voucherId:
                  type: string
                  format: uuid
                reason:
                  type: string
      responses:
        '200':
          description: 沖銷成功

  # ==================== Tours ====================
  /tours/{id}/unlock:
    post:
      tags: [Tours]
      summary: 解鎖旅遊團
      description: 將旅遊團狀態從「進行中」退回「提案」
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 解鎖成功
        '400':
          description: 無法解鎖（狀態不符）

  # ==================== Quotes ====================
  /quotes/confirmation/send:
    post:
      tags: [Quotes]
      summary: 發送報價確認
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [quoteId, recipients]
              properties:
                quoteId:
                  type: string
                  format: uuid
                recipients:
                  type: array
                  items:
                    type: string
                    format: email
      responses:
        '200':
          description: 發送成功

  /quotes/confirmation/customer:
    post:
      tags: [Quotes]
      summary: 客戶確認報價
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, action]
              properties:
                token:
                  type: string
                action:
                  type: string
                  enum: [approve, reject]
      responses:
        '200':
          description: 確認成功

  /quotes/confirmation/staff:
    post:
      tags: [Quotes]
      summary: 員工確認報價
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [quoteId]
              properties:
                quoteId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: 確認成功

  /quotes/confirmation/revoke:
    post:
      tags: [Quotes]
      summary: 撤銷報價確認
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [quoteId]
              properties:
                quoteId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: 撤銷成功

  /quotes/confirmation/logs:
    get:
      tags: [Quotes]
      summary: 取得確認記錄
      security:
        - bearerAuth: []
      parameters:
        - name: quoteId
          in: query
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConfirmationLog'

  # ==================== Itineraries ====================
  /itineraries/generate:
    post:
      tags: [Itineraries]
      summary: AI 生成行程表
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [destination, days]
              properties:
                destination:
                  type: string
                days:
                  type: integer
                  minimum: 1
                preferences:
                  type: string
      responses:
        '200':
          description: 生成成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItineraryResponse'

  /itineraries/{id}:
    get:
      tags: [Itineraries]
      summary: 取得行程表
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Itinerary'
        '404':
          description: 找不到行程表

  # ==================== OCR ====================
  /ocr/passport:
    post:
      tags: [OCR]
      summary: 護照 OCR 辨識
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image]
              properties:
                image:
                  type: string
                  format: binary
      responses:
        '200':
          description: 辨識成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PassportOCRResult'
        '400':
          description: 無法辨識

  # ==================== Storage ====================
  /storage/upload:
    post:
      tags: [Storage]
      summary: 上傳檔案
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                bucket:
                  type: string
                  default: uploads
      responses:
        '200':
          description: 上傳成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
                  path:
                    type: string

  # ==================== LinkPay ====================
  /linkpay:
    post:
      tags: [LinkPay]
      summary: 創建支付連結
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkPayRequest'
      responses:
        '200':
          description: 創建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkPayResponse'

  /linkpay/webhook:
    post:
      tags: [LinkPay]
      summary: LinkPay Webhook
      description: 接收 LinkPay 付款通知（內部使用）
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: 處理成功

  # ==================== AI ====================
  /ai/suggest-attraction:
    post:
      tags: [AI]
      summary: AI 推薦景點
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [destination]
              properties:
                destination:
                  type: string
                category:
                  type: string
                  enum: [nature, culture, food, shopping]
      responses:
        '200':
          description: 推薦成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AttractionSuggestion'

  /ai/edit-image:
    post:
      tags: [AI]
      summary: AI 編輯圖片
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [imageUrl, prompt]
              properties:
                imageUrl:
                  type: string
                  format: uri
                prompt:
                  type: string
      responses:
        '200':
          description: 編輯成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  editedImageUrl:
                    type: string
                    format: uri

  /gemini/generate-image:
    post:
      tags: [AI]
      summary: Gemini 生成圖片
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [prompt]
              properties:
                prompt:
                  type: string
      responses:
        '200':
          description: 生成成功

  # ==================== Travel Invoice ====================
  /travel-invoice/query:
    get:
      tags: [Travel Invoice]
      summary: 查詢代轉發票
      security:
        - bearerAuth: []
      parameters:
        - name: orderId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: 查詢成功

  /travel-invoice/issue:
    post:
      tags: [Travel Invoice]
      summary: 開立代轉發票
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TravelInvoiceRequest'
      responses:
        '200':
          description: 開立成功

  /travel-invoice/void:
    post:
      tags: [Travel Invoice]
      summary: 作廢代轉發票
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [invoiceId]
              properties:
                invoiceId:
                  type: string
      responses:
        '200':
          description: 作廢成功

  /travel-invoice/allowance:
    post:
      tags: [Travel Invoice]
      summary: 開立折讓單
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [invoiceId, amount]
              properties:
                invoiceId:
                  type: string
                amount:
                  type: number
      responses:
        '200':
          description: 開立成功

  # ==================== Proposals ====================
  /proposals/convert-to-tour:
    post:
      tags: [Tours]
      summary: 將提案轉換為旅遊團
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [proposalId]
              properties:
                proposalId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: 轉換成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  tourId:
                    type: string
                    format: uuid

  # ==================== Misc ====================
  /log-error:
    post:
      tags: [Health]
      summary: 記錄前端錯誤
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                error:
                  type: string
                stack:
                  type: string
                url:
                  type: string
      responses:
        '200':
          description: 記錄成功

  /bot-notification:
    post:
      tags: [Health]
      summary: Bot 通知
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message]
              properties:
                message:
                  type: string
                channel:
                  type: string
      responses:
        '200':
          description: 發送成功

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Supabase Auth JWT Token

  schemas:
    DetailedHealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
        services:
          type: object
          properties:
            database:
              type: string
              enum: [ok, error]
            storage:
              type: string
              enum: [ok, error]
            auth:
              type: string
              enum: [ok, error]
        timestamp:
          type: string
          format: date-time

    AuthResponse:
      type: object
      properties:
        success:
          type: boolean
        user:
          $ref: '#/components/schemas/User'
        token:
          type: string

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
        role:
          type: string
        workspace_id:
          type: string
          format: uuid

    CustomerReceiptRequest:
      type: object
      required: [workspace_id, receipt_id, amount]
      properties:
        workspace_id:
          type: string
          format: uuid
        receipt_id:
          type: string
          format: uuid
        amount:
          type: number
        payment_date:
          type: string
          format: date
        description:
          type: string

    SupplierPaymentRequest:
      type: object
      required: [workspace_id, payment_request_id, amount]
      properties:
        workspace_id:
          type: string
          format: uuid
        payment_request_id:
          type: string
          format: uuid
        amount:
          type: number
        payment_date:
          type: string
          format: date

    GroupSettlementRequest:
      type: object
      required: [workspace_id, tour_id]
      properties:
        workspace_id:
          type: string
          format: uuid
        tour_id:
          type: string
          format: uuid

    VoucherResponse:
      type: object
      properties:
        success:
          type: boolean
        voucher_id:
          type: string
          format: uuid
        voucher_number:
          type: string

    ConfirmationLog:
      type: object
      properties:
        id:
          type: string
          format: uuid
        quote_id:
          type: string
          format: uuid
        action:
          type: string
        actor:
          type: string
        timestamp:
          type: string
          format: date-time

    Itinerary:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        days:
          type: array
          items:
            type: object
            properties:
              day:
                type: integer
              activities:
                type: array
                items:
                  type: object

    ItineraryResponse:
      type: object
      properties:
        success:
          type: boolean
        itinerary:
          $ref: '#/components/schemas/Itinerary'

    PassportOCRResult:
      type: object
      properties:
        name_en:
          type: string
        name_zh:
          type: string
        passport_number:
          type: string
        nationality:
          type: string
        birth_date:
          type: string
          format: date
        expiry_date:
          type: string
          format: date
        gender:
          type: string
          enum: [M, F]

    LinkPayRequest:
      type: object
      required: [amount, description]
      properties:
        amount:
          type: number
        description:
          type: string
        order_id:
          type: string
        return_url:
          type: string
          format: uri

    LinkPayResponse:
      type: object
      properties:
        success:
          type: boolean
        payment_url:
          type: string
          format: uri
        transaction_id:
          type: string

    AttractionSuggestion:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        category:
          type: string
        rating:
          type: number
        image_url:
          type: string
          format: uri

    TravelInvoiceRequest:
      type: object
      required: [order_id, buyer_name, buyer_id, amount]
      properties:
        order_id:
          type: string
        buyer_name:
          type: string
        buyer_id:
          type: string
        amount:
          type: number
        items:
          type: array
          items:
            type: object
            properties:
              description:
                type: string
              quantity:
                type: integer
              unit_price:
                type: number

security:
  - bearerAuth: []
